@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        
@font-face {
font-family: 'nasalization-rg';
src: url("../fonts/nasalization-rg.otf");
}

.custom-h1{
    font-family: 'Roboto', sans-serif !important;

}

h1, h2, h3, h4, h5, h6, p, a, input, .btn{
    font-family: 'Roboto', sans-serif;
}
.menu-top{
    background-color: #0F3530;
}

.btn-outline-primary {
    --bs-btn-color: #0F3530;
    --bs-btn-border-color: #0F3530;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0F3530;
    --bs-btn-hover-border-color: #0F3530;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0F3530;
    --bs-btn-active-border-color: #0F3530;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0F3530;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0F3530;
    --bs-gradient: none;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0F3530;
    --bs-btn-border-color: #0F3530;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1D645A;
    --bs-btn-hover-border-color: #1D645A;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1D645A;
    --bs-btn-active-border-color: #1D645A;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0F3530;
    --bs-btn-disabled-border-color: #0F3530;
}

.text-primary{
    color: #0F3530 !important;
}
.bg-primary{
    background-color: #0F3530!important;
}

.border-primary{
    border-color: #0F3530 !important;
}

.dropdown-menu{
    min-width: 500px;
    border: none;
    border-radius: 15px;
    padding: 30px;
}

.dropdown-menu .btn-sm{
    font-size: 0.7rem !important;
    font-weight: 700 !important;
    font-family: 'Roboto', sans-serif;
}

.dropdown-menu h6,li, p{
    font-size: 0.9rem !important;
}

.dropdown-menu .btn-sm:hover{
    font-weight: 700 !important;
}

.sobre{
    background-image: url('assets/img/bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link{
    font-size: 0.9rem !important;
    color: #556d91;
}

.btn-menu{
    font-size: 0.7rem;
}

.page-link{
    color: #127db5;
}

.page-link:active{
    background-color: #0F3530;
}

.active>.page-link, .page-link.active {
    background-color: #0F3530;
    border-color: #0F3530;
}